/class-syllabus.pdf
/Bishop-Pattern-Recognition-and-Machine-Learning-2006.pdf
/bishop-prml-solutions.pdf
.ipynb_checkpoints
venv
Project/__pycache__/utils.cpython-37.pyc
.gitignore
.gitignore
Project/Aviation-Copy/
Project/Aviation/
Project/Data/
Project/.DS_Store
Project/grad_project.pdf
Week_10/faithful.dat
Week_12/__pycache__/plot_utils.cpython-39.pyc
.DS_Store
Week_8/vgg.png
Week_8/cat.jpg
Week_7/images/activation_cheatsheet.png
Week_7/images/dropout.png
Week_7/images/goldblum.jpg
Week_7/lfw_augmented.p
Week_7/README.md
Week_7/trained_with_augmentation.p
Week_2/04-Markov-Models-master/trump_tweets.json
Week_2/04-Markov-Models-master/virga.jpg
Week_2/04-Markov-Models-master/w_matrix.npy
Week_2/04-Markov-Models-master/weather.npy
Week_4/datasets/lobster_survive.dat
Week_6/mnist.p
Week_2/04-Markov-Models-master/trump_sequence.p
Week_2/04-Markov-Models-master/t8.shakespeare.txt
Week_2/04-Markov-Models-master/README.md
Week_2/04-Markov-Models-master/genes_training.p
Week_2/04-Markov-Models-master/genes_test.p
Homework_4/figure_2.png
Homework_4/Marcozzi_hw4.pdf
Homework_4/marcozzi-hw4.zip
Homework_4/ml_homework_4.pdf
Homework_4/figure_1.png
Homework_3/marcozzi_hw3.zip
Homework_2/Marcozzi-hw2.zip
Homework_2/Marcozzi_CS547_Homework_2.pdf
.idea
Project/model/dataset
Project/model/__pycache__
Project/model/model.nn
Project/model/results.npy
Project/model/results.json
Project/model/time.txt
Project/__pycache__/
/Project/old_models/
Project/model/workspace.code-workspace
Project/model/dataset-big/